$blue: rgb(35, 85, 242);
$input-gray: rgb(247, 249, 254);

@mixin background-image($image) {
    background-image: url($image);
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin center {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

@mixin max-width($width) {
    max-width: $width;
    width: 100%;
}

.newsletter{
    animation: popup 0.5s;
}

@keyframes popup {
    0%{
        transform: scale(0);
    }

    10%{
        transform: scale(0.1);
    }

    20%{
        transform: scale(0.2);
    }

    30%{
        transform: scale(0.3);
    }

    40%{
        transform: scale(0.4);
    }

    50%{
        transform: scale(0.5);
    }

    60%{
        transform: scale(0.6);
    }

    70%{
        transform: scale(0.7);
    }

    80%{
        transform: scale(0.8);
    }

    90%{
        transform: scale(0.9);
    }

    100%{
        transform: scale(1);
    }
}

body{
    @include background-image("../Assets/Background.png");
}

.newsletter{
    @include center();
    flex-direction: column;
    align-items: center;
    padding-top: 10%;

    max-width: 400px;
    width: 100%;
}

.header{
    @include background-image("../Assets/Pattern.png");
    background-color: $blue;
    padding-bottom: 20px;
    padding-top: 20px;

    padding-left: 75px;
    padding-right: 75px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    h2{
        text-align: center;
        color: white;
    }
}

.container{
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.body, .bottom{
    padding: 20px;
    p{
        text-align: center;
    }
}

.info p{
    margin-top: 0;
}

.form{
    text-align: center;
    width: 100%;

    display: block;

    input{
        height: 30px;
        @include max-width(225px);
        background-color: $input-gray;
        margin-bottom: 10px;
    }

    button{
        height: 35px;
        @include max-width(120px);

        background-color: $blue;
        color: white;
    }

    input, button{
        border-radius: 5px;
        border: solid 0.5px gray;
    }
}

.note{
    p{
        text-align: left;
        color: gray;
    }
}

.person{
    display: flex;
    justify-content: center;

    .name{
        display: flex;
        flex-direction: column;
        margin-left: 5px;

        h4, p{
            margin: 0;
            margin-bottom: 5px;
        }
    }
}