$hiring-color: #EA915D;
$join-color: #4977EA;
$back-color: #F8F5E8;

$tablet: 1150px;
$mobile: 550px;

@mixin join-waitlist-button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: $join-color;
    font-size: 125%;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    font-family: sans-serif;
    background-color: $back-color;
    padding-left: 10%;
    padding-right: 10%;
}

p {
    color: gray;
    font-size: 125%;
}

a {
    text-decoration: none;
    color: gray;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hamburger{
        display: none;
    }

    a {
        font-size: 125%;
    }

    .left {
        display: flex;
        gap: 10px;

        a {
            color: white;
            padding: 15px;
            border-radius: 30px;

            background-color: $hiring-color;

            height: min-content
        }

        img {
            margin-top: 5px;
            height: 35px;
        }
    }

    .middle {
        display: flex;
        gap: 20px;
    }

    .right {
        display: flex;


        a {
            margin-right: 20px;
            margin-top: 20px;
        }


        button {
            padding: 20px;
            @include join-waitlist-button();
        }
    }

}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    height: 550px;

    .text {
        width: max-content;
        margin-right: 100px;
        max-width: 700px;

        h1 {
            font-size: 300%;
            margin-bottom: 0;
        }

        form {
            margin-right: 0;
            display: flex;
            gap: 10px;

            input {
                border: none;
                height: 50px;
                margin-bottom: 20px;
                font-size: 125%;
            }

            button {
                background-color: $join-color;
                height: 50px;
                min-width: 140px;
                @include join-waitlist-button();
            }
        }

        .note {
            display: flex;
            gap: 20px;
        }
    }
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: baseline;

    .social{
        display: flex;
        gap: 20px
    }

    .question{
        display: flex;
        align-self: baseline;
        .question-text{
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            p, h4{
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: $tablet){
    body{
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .navbar{
        .middle, .right{
            display: none
        }

        .hamburger{
            display: block;
        }
    }

    .main-content{
        flex-direction: column-reverse;
        align-items: center;
        height: unset;

        .text{
            margin-right: 0;
            max-width: fit-content;

            h1{
                margin-top: 0;
            }
        }
    }

    .footer{
        margin-top: 0;
        align-items: center;
    }
}

@media only screen and (max-width: $mobile){
    .footer{
        align-items: baseline;
        flex-direction: column;

        .social{
            margin-bottom: 30px;
        }
    }
}